.wrapper {
  margin-top: 50px;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .wrapper {
    margin-top: 200px;
  }
}
